body {
    /* background-color: #4a6d7c; */
    background-color: aqua;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    width: 75vw;
    height: 75vh;
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h2, p {
    text-align: center;
}

h1 {
    font-size: 3rem;
    font-weight: 400;
    color: #f3f8f2;
}

h2 {
    font-size: 2rem;
    color: #090909;
}

.email {
    font-style: italic;
    font-weight: 400;
}
