body {
    margin: 0 5vw 0 5vw;
}

nav {
   font-family: 'Open Sans', sans-serif;
   text-transform: uppercase;
   font-weight: 400;
   letter-spacing: .09rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 70px;
   padding: 20px 0 20px 0;
}

nav > ul {
    display: flex;
    justify-content: space-between;
    width: 20vw;
}

nav > img {
    width: 10vw;
}